<html>
	<head>
		<title> Result </title>
	
	</head>
	<body>
		Bitrate : <%= bitrate %> <br>
		Duration : <%= duration %> <br>
		Size : <%= result %> <br>
	<a href="\"> Restart </a>
	
	</body>


</html>